html {
  font-size: var(--base-size);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  font-family: Roboto;
}

body {
  color: var(--color-text);
  background: var(--bg-color);
}

:root {
  --base-size: 16px;
  --super-hero-size: 1.4rem;
  --quote-size: 2.4rem;
  --super-hero-color: #5d5d5d;
  --quote-color: #22556c;

  --quote-box-color: white;
  --quote-box-border: #22556c;
  --bg-color: #bdbcbc;
}
